@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


a,
.green {
  text-decoration: none;
  color: #FE621D;
  transition: 0.4s;
  font-weight:900
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid #fe621d ;
  box-shadow: 0 8px 8px -4px lightblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  max-height: 70%;
  z-index: 99;
  overflow: auto;
  padding: 25px;
  border-radius: 16px;
}

.btn {
  text-decoration: none;
  border: none;
  font-weight: 800;
  padding: 12px 40px;
  font-size: 16px;
  background-color: #fe621d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  margin: 10px;
  display: flex;
}
.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn:hover {
  background-color: #00cfc1;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=Number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=file] {
  width: 100%;
    padding: 25px 129px;
    margin: -2px 0;
    box-sizing: border-box;
}

input[type=datetime-local] {
  width: 100%;
  padding: 25px 20px;
  margin: 8px 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

textarea[type=text] {
  width: 100%;
  padding: 25px 20px;
  margin: 8px 0;
  font-family: sans-serif;
  box-sizing: border-box;
  resize: vertical;

}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: sans-serif;
  box-sizing: border-box;

}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: sans-serif;
  box-sizing: border-box;

}

.err{
  color: red;
  font-weight: 700;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 1.5rem;
  padding: 1;
  display: "flex";
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: #00cfc1;
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.logoclass {
  text-align: "right";
}

.items {
  text-align: "left";
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    margin-left: -1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 0;
    margin-top: 1rem;
  }
} 